:root {
  font-family: "Source Serif Pro", serif;
}
body {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: fit-content;
}
button {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  cursor: pointer !important;
}
.center {
  justify-content: center;
}
.disabled {
  pointer-events: none;
  color: #94a3b8 !important;
  background-color: #475569 !important;
}
a {
  text-decoration: none;
}
.h-stack {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.button-1 {
  border: 3px solid white;
  border-radius: 1000rem;
  color: white;
  font-size: 1.8em;
  padding: 0.2em 2em;
  font-family: "Basic-sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
}
button:hover {
  transform: scale(0.95);
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-family: "Basic-sans", sans-serif;
}
nav {
  width: 100%;
  height: 5em;
  position: absolute;
  top: 0;
  background-color: black;
  padding: 0em 0em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav h1 {
  color: white;
  font-size: 2em;
  font-weight: 800;
  padding-left: 0.75em;
  font-family: "Source Serif Pro" !important;
}
.welcomemessage-wrapper {
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: "Basic-sans", sans-serif;
}
.welcomemessage-wrapper .greeting h1 {
  font-size: 4em;
  font-weight: 800;
}
.welcomemessage-wrapper .job-title {
  font-size: 1.75em;
  font-weight: 100;
}
.project-info-wrapper {
  margin-bottom: auto;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  margin-bottom: 0;
}
.project-info-wrapper h2 {
  font-size: 2.75em;
  font-family: "Basic-sans", sans-serif;
}
.project-info-wrapper h3 {
  font-size: 2em;
  font-weight: 100;
  font-family: "Basic-sans", sans-serif;
}
.projectScreenshot {
  object-fit: cover;
  max-width: min(95%, 45em);
  max-height: 30em;
  border: none;
}
.quickfacts {
  flex-wrap: wrap;
  width: 95%;
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  justify-content: center;
}
.quickfacts ul {
  margin-bottom: auto;
}
.quickfacts li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: Basic-sans;
  font-size: 1.75em;
}
.logos-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  padding: 0;
  margin: 0;
  max-width: 90%;
}
.logos-wrapper img {
  object-fit: cover;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 1em;
}
.quickfacts .options-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
  grid-gap: 1em 1em;
}
.photo-stack {
  width: 100% !important;
  justify-content: center;
  display: flex;
  justify-content: flex-start;
  gap: 0.75em;
  overflow-x: scroll;
  padding: 1em;
  margin-left: 3em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.25);
}
.photo-stack img {
  object-fit: cover;
  width: 40em;
  height: 30em;
  border-radius: 1em;
}
.photography-section {
  position: relative;
}
.photo-frame {
  display: flex;
  flex-direction: column;
}
.photo-frame h5 {
  display: flex;
  margin-top: 0.33em;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 0.25em;
  font-size: 1.5em;
}
.photography-section .container {
  display: flex;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  padding: 1em;
}
.photography-section .container .button-1 {
  font-size: 2em;
}
